* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
div#container {
    width: 100%;
}

h1 {
    font-size: 7vw;
    font-family: "Satisfy";
    letter-spacing: 5px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 4px 4px #fff;
}
h2 {
    font-size: 2.5rem;
    font-family: "Satisfy";
    letter-spacing: 2px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 2px 2px #fff;
}
h3 {
    font-size: 1.75rem;
    font-family: "Raleway";
    letter-spacing: 2px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 2px 2px #fff;
}
p {
    font-family: "Lora";
    text-align: justify;
    font-size: 1rem;
}
a {
    text-decoration: none;
}

.parallax {
    background-attachment: fixed;
}
/*Icons*/
.fa {
    font-size: 50px;
    color: #000;
}
.fa:hover {
    opacity: .6;
}
/*Flip effect*/
.flip-container {
    position: relative;
    cursor: pointer;
    perspective: 800px;
    -webkit-perspective: 800px;
}
.flip-faces {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 2s;
    -webkit-transition: transform 2s;
}
.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    display: block;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front:hover, .back:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
/*Flex*/
.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
.flex-item {
    margin: 1% auto;
    text-align: center;
}


/*Section defaults*/
section {
    padding: 5%;
    box-shadow: 0 10px 150px #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*About section*/
section#website {
    background-color: #000066;
    transition: background-image 0.5s linear;
}
.slideshow-container {
    width: 65%;
    margin: auto;
    position: relative;
}
.slide {    
    height: 550px;
    padding: 5%;
    display: none;
    background-color: rgba(255,255,255,0.95);
}
.slide img {
    width: 100%;
    margin-top: 3%;
}
.slide img:hover {
    opacity: 0.75;
}
.prev, .next {
    width: auto;
    margin-top: -22px;
    padding: 16px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.1);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 1s ease;
}
.active, .dot:hover {
    background-color: #fff;
}
.fade {
    animation: 2s fade ease;
}
.slide p, .slide h2, .slide img {
    animation: 2.5s fadeIn ease-in;
}
@keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/*Art section*/
section#art {
    background-color: #4d0066;
}
.column {
    width: 33vw;
    background-color: #fff;
}
.art {
    width: 100%;
    height: 33vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    width: 100%;
    padding: 2%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: #fff;
    text-shadow: none;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 1s ease;
}
.art img {
    transition: opacity 1s ease;
}
.art img:hover {
    opacity: 0.5;
    transition: opacity 1s ease;
}
.art:hover img + .title {
    opacity: 1;
    transition: opacity 1s ease;
}